<div class="page_wrapper">
    <div class="profile">
        {{{FeedLink}}}
        <div class="user_avatar">
            {{{ Avatar }}}
        </div>
        <div class="form_wrapper">
            <form class="form">
                {{{ FormFields }}}
            </form>
        </div>
        <div class="profile__control">
            {{{ChangeDataLink}}}
            {{{ChangePasswordLink}}}
            {{{ LogoutButton }}}
        </div>
    </div>
</div>
