<div class="feed_wrapper">
    <div class="feed">
        <div class="feed__left_column">
            <a href="#Profile">Профиль &gt;</a>
            {{> Input placeholder="Поиск" name="login"}}
            <div class="chat__list">
                {{#each chats}}
                <div class="chat__list_item">
                    <div class="chat__list_item_avatar">
                        {{> Avatar avatar=avatar }}
                    </div>
                    <div class="chat__list_item_content">
                        <div class="chat__list_item_header">
                            <div class="chat__list_item_header_title">
                                {{title}}
                            </div>
                            <div class="chat__list_item_header_date">
                                {{date}}
                            </div>
                        </div>
                        <div class="chat__list_item_description">
                            <div class="chat__list_item_description_text">
                                {{lastMessage}}
                            </div>
                            {{#if notification}}
                            <div class="chat__list_item_description_notification">{{notification}}</div>
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="feed__right_column">
            {{#if currentChatId}}
            Список сообщений
            {{else}}
            <div class="empty_chat">Выберите чат чтобы отправить сообщение</div>
            {{/if}}
        </div>
    </div>
</div>